.tesla-battery {
  width: 100%;
  margin: 0 auto;
}
.tesla-battery h1 {
  padding:1.5rem;
  font-family: 'RobotoNormal';
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
}